{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blackpinkinyourarea</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/django.png">
</head>
<body>


<div class="header">
    <a href="{% url 'core:home' %}"><h1>blackpinkinyourarea</h1></a>
    <div class="nav">
        <ul class="list">
            {% block header %}
                <li><a href="{% url 'core:home' %}">Home</a></li>
                <li><a href="{% url 'polls:index' %}">Questions</a></li>
                <li><a href="{% url 'threads:index' %}">Threads</a></li>
            {% endblock %}
        </ul>
    </div>
</div>


<div class="container">
    {% block content %}
        <h1>CÓ CHẮC YÊU LÀ ĐÂY...</h1>
    {% endblock %}
</div>
</body>
</html>